@media only screen and (max-width: 640px) {
    body {
        padding: 0 15px;
    }
    .container {
        display: grid;
        //grid-template-columns: auto !important;
        gap: 10px;
    }
    .container #profile-info .profile-card-list > ul {
        display: grid;
        grid-template-columns: auto auto auto;
    }
    .profile-info-section {
        display: grid;
        grid-template-columns: auto auto auto;
        width: 100%;
        .profile-photo {
            scale: 0.8;
        }
    }
}

