@media only screen and (max-width: 520px) {
    .container {
        display: grid;
        grid-template-columns: auto !important;
        gap: 10px;
    }
}

@media only screen and (max-width: 519px) {
    body {
        padding: 0 15px;
    }
    .container #profile-info > ul {
        display: flex;
        justify-content: space-evenly;
    }
}

