/****** COLORS ******/

/* PRIMARY */

$primary-blue: #5847eb;
$light-red-work: #ff8c66;
$soft-blue-play: #56c2e6;
$light-red-study: #ff5c7c;
$lime-green-exercise: #4acf81;
$violet-social: #7536d3;
$soft-orange-self-care: #f1c65b;

/* NEUTRAL */

$very-dark-blue: #0f1424;
$dark-blue: #1c1f4a;
$desaturated-blue: #6f76c8;
$pale-blue: #bdc1ff;
$greyish-white: #ededed;

/****** STYLING ******/

$border-radius: 0.625rem;

/****** TRANSITIONS ******/

$transition-03: all 0.3 ease-in;
