@use 'partials/globals.scss' as *;
@use 'partials/mixins.scss' as *;
@use 'partials/responsive.scss' as *;
@use 'partials/typography.scss' as *;
@use 'partials/variables.scss' as *;

.container {
    display: grid;
    height: 525px;
    width: 920px;
    grid-template-columns: auto auto auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px; 
    .info-card {
        border-radius: $border-radius;
        > .inner-card-container {
            background-color: $dark-blue;
            position: relative;
            top: 20%;
            height: 80%;
            border-radius: $border-radius;
            @include cross-browser-support-set-transition;
            &:hover {
                background-color: $primary-blue;
                cursor: pointer;
                @include cross-browser-support-set-transition;
            }
            .card-summaries {
                padding-left: 20px;
                .total-week-hours {
                    font-size: 38px;
                    font-weight: 400;
                }
            }
            .sub-category-banner {
                display: flex;
                //position: absolute;
                justify-content: space-between;
                //width: 100%;
                padding: 10px 20px;
                .fa-ellipsis {
                    cursor: pointer;
                    color: $pale-blue;
                    &:hover{
                        color: $greyish-white;
                    }
                }
            }
        }
    }
    #profile-info {
        grid-row-start: 1;
        grid-row-end: 3;
        background-color: $dark-blue;
        > .profile-card-container {
            position: relative;
            height: 70%;
            background-color: $primary-blue;
            border-radius: $border-radius;
            .profile-info-section {
                position: absolute;
                display: grid;
                grid-template-rows: 55px auto 40px;
                width: 100%;
                align-content: space-evenly;
                height: 100%;
                padding-left: 30px;
                .profile-photo {
                    border: 3px solid $greyish-white;
                    border-radius: 50%;
                }
            }
        }
        > nav ul {
            list-style-type: none;
            position: absolute;
            transform: translate(30px, 35%);
            li:not(:last-child) {
                padding-bottom: 15px;
            }
            > li.active {
                font-weight: 500;
                color: $greyish-white;
            }
            li:not(.active) {
                color: $pale-blue;
            }
        }
    }
    #work-card {
        background-color: $light-red-work;
        background-image: url('/images/icon-work.svg');
        background-repeat: no-repeat;
        grid-column-start: 2;
        grid-column-end: 3;

    }
    #play-card{
        background-color: $soft-blue-play;
        background-image: url('/images/icon-play.svg');
        background-repeat: no-repeat;
        background-position: 110px 0px;
        grid-column-start: 3;
        grid-column-end: 4;
    }
    #study-card{
        background-color: $light-red-study;
        background-image: url('/images/icon-study.svg');
        background-repeat: no-repeat;
        background-position: 110px 0px;
        grid-column-start: 4;
        grid-column-end: 5;
    }
    #exercise-card{
        background-color: $lime-green-exercise;
        background-image: url('/images/icon-exercise.svg');
        background-repeat: no-repeat;
        background-position: 110px 0px;
        grid-column-start: 2;
        grid-column-end: 3;
    }
    #social-card{
        background-color: $violet-social;
        background-image: url('/images/icon-social.svg');
        background-repeat: no-repeat;
        background-position: 110px 0px;
        grid-column-start: 3;
        grid-column-end: 4;
    }
    #self-care-card{
        background-color: $soft-orange-self-care;
        background-image: url('/images/icon-self-care.svg');
        background-repeat: no-repeat;
        background-position: 110px 0px;
        grid-column-start: 4;
        grid-column-end: 5;
    }
}