@use 'partials/globals.scss' as *;
@use 'partials/mixins.scss' as *;
@use 'partials/responsive.scss' as *;
@use 'partials/typography.scss' as *;
@use 'partials/variables.scss' as *;

.container {
    display: grid;
    height: 525px;
    width: 620px;
    grid-template-columns: auto auto auto;
    gap: 15px;
    .info-card {
        border-radius: $border-radius;
        > .inner-card-container {
            background: olive;
            position: relative;
            top: 20%;
            height: 80%;
            border-radius: 10px;
        }
    }
    #profile-info {
        grid-row-start: 1;
        grid-row-end: 4;
        background-color: yellow;
    }
    #work-card {
        background-color: purple;
    }
    #play-card{
        background-color: orange;
    }
    #study-card{
        background-color: violet;
    }
    #exercise-card{
        background-color: indigo;
    }
    #social-card{
        background-color: grey;
    }
    #self-care-card{
        background-color: chartreuse;
    }
}