@use 'partials/globals.scss' as *;
@use 'partials/mixins.scss' as *;
@use 'partials/responsive.scss' as *;
@use 'partials/typography.scss' as *;
@use 'partials/variables.scss' as *;

.container {
    display: grid;
    height: 525px;
    width: 620px;
    grid-template-columns: auto auto auto;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    .info-card {
        border-radius: $border-radius;
        > .inner-card-container {
            background: olive;
            position: relative;
            top: 20%;
            height: 80%;
            border-radius: $border-radius;
        }
    }
    #profile-info {
        grid-row-start: 1;
        grid-row-end: 4;
        background-color: yellow;
        > .profile-card-container {
            position: relative;
            height: 70%;
            background: red;
            border-radius: $border-radius;
            .profile-info-section {
                position: absolute;
                display: grid;
                grid-template-rows: 55px auto 40px;
                width: 100%;
                align-content: space-evenly;
                height: 100%;
                padding-left: 30px;
                .profile-photo {
                    border: 3px solid #000;
                    border-radius: 50%;
                }
            }
        }
        > nav ul {
            list-style-type: none;
            position: absolute;
            transform: translate(30px, 35%);
            li:not(:last-child) {
                padding-bottom: 15px;
            }
            ul > li.active {
                font-weight: 500;
            }
        }
    }
    #work-card {
        background-color: purple;
    }
    #play-card{
        background-color: orange;
    }
    #study-card{
        background-color: violet;
    }
    #exercise-card{
        background-color: indigo;
    }
    #social-card{
        background-color: grey;
    }
    #self-care-card{
        background-color: chartreuse;
    }
}